body {text-align: center;}
.clase1 {border: 5px solid black;}
.clase1 {display: block}
.clase1 {font-family: sans-serif;}
.clase1 {margin-top: 100px; }
.clase1 {margin-left: 300px; margin-right: 300px;}
h1 {background: black; color: white}
div {background: #3e5661}
p {font-weight: bold;}
body {background: url(31170.jpg)}